<a href="https://colab.research.google.com/github/Aifa-Chris/Cousera_Capstone/blob/master/Cousera_Toronto_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import pandas as pd
import numpy as np
import requests

! pip install geocoder
import geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 2.4MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from geocoder) (2.21.0)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from geocoder) (0.16.0)
Collecting ratelim
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from geocoder) (7.1.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from geocoder) (1.12.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2019.11.28)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ratelim->geocoder) (4.4.2)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [59]:
data = "https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=890001695"
Toronto = pd.read_html(data)[0]
Toronto.head(10)
# Make the dataframe (Using old html link)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

In [60]:
Toronto1 = Toronto.replace('Not assigned', np.nan)
Toronto2 = Toronto1.dropna()
Toronto2
#Prepping data for dropna(), droping NaN

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M5A  Downtown Toronto               Regent Park
6        M6A        North York          Lawrence Heights
..       ...               ...                       ...
282      M8Z         Etobicoke  Kingsway Park South West
283      M8Z         Etobicoke                 Mimico NW
284      M8Z         Etobicoke        The Queensway West
285      M8Z         Etobicoke     Royal York South West
286      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [81]:
Toronto3= Toronto2.groupby(['Postcode', 'Borough']).agg(lambda x:" , ".join(x))
Toronto3
#Grouping by Postcode, Borough

                                                          Neighbourhood
Postcode Borough
M1B      Scarborough                                    Rouge , Malvern
M1C      Scarborough           Highland Creek , Rouge Hill , Port Union
M1E      Scarborough                Guildwood , Morningside , West Hill
M1G      Scarborough                                             Woburn
M1H      Scarborough                                          Cedarbrae
...                                                                 ...
M9N      York                                                    Weston
M9P      Etobicoke                                            Westmount
M9R      Etobicoke    Kingsview Village , Martin Grove Gardens , Ric...
M9V      Etobicoke    Albion Gardens , Beaumond Heights , Humbergate...
M9W      Etobicoke                                            Northwest

[102 rows x 1 columns]

In [62]:
Toronto3.shape

(102, 1)

In [91]:
#Load coordinates, rename column to match
Coordinates = pd.read_csv('Geospatial_Coordinates.csv')
Coordinates1= Coordinates.rename(columns={'Postal Code':'Postcode'})
Coordinates1.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [96]:
# Merge dataframes
Toronto4 = Toronto3.merge(Coordinates1, on='Postcode', how="left")
Toronto4

    Postcode  ...  Longitude
0        M1B  ... -79.194353
1        M1C  ... -79.160497
2        M1E  ... -79.188711
3        M1G  ... -79.216917
4        M1H  ... -79.239476
..       ...  ...        ...
97       M9N  ... -79.518188
98       M9P  ... -79.532242
99       M9R  ... -79.554724
100      M9V  ... -79.588437
101      M9W  ... -79.594054

[102 rows x 4 columns]

# New Section