<a href="https://colab.research.google.com/github/Aifa-Chris/Cousera_Capstone/blob/master/Cousera_Toronto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import requests

In [59]:
data = "https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=890001695"
Toronto = pd.read_html(data)[0]
Toronto.head(10)
# Make the dataframe (Using old html link)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

In [60]:
Toronto1 = Toronto.replace('Not assigned', np.nan)
Toronto2 = Toronto1.dropna()
Toronto2
#Prepping data for dropna(), droping NaN

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M5A  Downtown Toronto               Regent Park
6        M6A        North York          Lawrence Heights
..       ...               ...                       ...
282      M8Z         Etobicoke  Kingsway Park South West
283      M8Z         Etobicoke                 Mimico NW
284      M8Z         Etobicoke        The Queensway West
285      M8Z         Etobicoke     Royal York South West
286      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [61]:
Toronto3= Toronto2.groupby(['Postcode', 'Borough']).agg(lambda x:" , ".join(x))
Toronto3
#Grouping by Postcode, Borough

                                                          Neighbourhood
Postcode Borough
M1B      Scarborough                                    Rouge , Malvern
M1C      Scarborough           Highland Creek , Rouge Hill , Port Union
M1E      Scarborough                Guildwood , Morningside , West Hill
M1G      Scarborough                                             Woburn
M1H      Scarborough                                          Cedarbrae
...                                                                 ...
M9N      York                                                    Weston
M9P      Etobicoke                                            Westmount
M9R      Etobicoke    Kingsview Village , Martin Grove Gardens , Ric...
M9V      Etobicoke    Albion Gardens , Beaumond Heights , Humbergate...
M9W      Etobicoke                                            Northwest

[102 rows x 1 columns]

In [62]:
Toronto3.shape

(102, 1)